{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!
{% endblock %}

{% block body %}
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="page-caption">
						<h2 class="page-title">À propos</h2>
						<div class="page-breadcrumb">
							<ol class="breadcrumb">
								<li>
									<a href="/">Accueil</a>
								</li>
								<li class="active">L'atelier du barbier</li>
							</ol>
						</div>
						<p class="hero-text">
							<strong>
								A Bagnoles-de-l’Orne, si vous cherchez LE barbershop de vos rêves, voilà peut-être l’adresse qui vous fera littéralement tourner la tête… JB L’Atelier du barbier, c’est le royaume de Jean-Baptiste, un coiffeur-barbier dont le talent semble venu d’ailleurs. Vous pensez qu’on exagère ? Confiez vos cheveux et/ ou votre barbe à JB L’atelier du barbier et vous aurez soudain une tout autre image de ce qu’est un barbershop…
																																															
																																															
								JB est plus qu’un artisan du cheveu, c’est un artiste… Sculpter les cheveux et la barbe, leur donner forme, texture, mouvement, dessins, c’est toute son ambition ! A Bagnoles-de-l’Orne, les hommes en recherche de style trouveront donc ici leur graal.
																																															
																																															
								Dans un salon à l’esthétique à la fois rebelle et sophistiquée, la clientèle masculine va se sentir comme un coq en pâte. Guitares électriques au mur, déco ambiance rider, canapé en cuir vintage et accès à une console pour vous faire attendre en mode gamer, fauteuil de barbier au confort divin, que vouloir de plus ?
																																															
																																															
								Coupe stylisée, traçage et taille de barbe de précision : vous ressortez tel un Apollon, un Ryan Gosling, un Paul Pogba… Quelle que soit votre référence, 7e Art, Sport ou mythologie grecque, JB L’Atelier du Barbier se charge de votre beauté capillaire comme personne. Vous savez ce qu’il vous reste à faire ? Prendre rendez-vous chez votre coiffeur-barbier de l’avenue du Dr Poulain.
							</strong>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
