{% extends "base.html.twig" %}

{% block title %}L'atelier du barbier - Accueil
{% endblock %}

{% block body %}
	<div class="hero-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<h1 class="hero-title">L'atelier du barbier</h1>
					<p class="hero-text">
						<strong>Spécialistes coupes/coiffures pour hommes</strong>
					</p>
					<a href="/about" class="btn btn-default">A propos</a>
				</div>
			</div>
		</div>
	</div>
	<div class="space-medium">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<div class="mb60 text-center section-title">
						<h1>Nos prestations</h1>
						<h5 class="small-title "></h5>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="service-block">
						<div class="service-icon mb20">
							<img src="images/service-icon-1.png" alt="">
						</div>
						<div class="service-content">
							<h2>
								<a href="/prestations" class="title ">FORFAITS CHEVEUX/BARBE</a>
							</h2>
							<p>Coupe Homme classique + Taille de barbe (le classique)</p>
							<div class="price ">32€ à 36€ - 1H</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="service-block">
						<div class="service-icon mb20">
							<img src="images/service-icon-2.png" alt="">
						</div>
						<div class="service-content">
							<h2>
								<a href="/prestations" class="title ">LES COUPES CHEVEUX</a>
							</h2>
							<p>Coupe homme classique coiffage</p>
							<div class="price">17€ - 30min</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="service-block">
						<div class="service-icon mb20">
							<img src="images/service-icon-3.png" alt="">
						</div>
						<div class="service-content">
							<h2>
								<a href="/prestations" class="title ">LA BARBE</a>
							</h2>
							<p>Taille de barbe (le classique)</p>
							<p>Raccourcie et contour des joues dessiné au coupe-chou + hydratant + soin barbe</p>
							<div class="price ">17€ - 30min</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center">
					<a href="/prestations" class="btn btn-default">
						Afficher tous les prestations
					</a>
				</div>
			</div>
		</div>
		<div class="space-medium">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-2 col-md-8">
						<div class="mb60 text-center section-title">
							<h2>
								<i class="fa fa-globe" aria-hidden="true"></i>
								<a href="#" class="title ">Où se trouve le salon ?</a>
							</h2>
							
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2640.731269258891!2d-0.4164379237484004!3d48.55754137129293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48099336c0726073%3A0xa8384443d7af2269!2sL&#39;atelier%20Du%20Barbier!5e0!3m2!1sfr!2sfr!4v1673362191305!5m2!1sfr!2sfr" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
