{% extends "base.html.twig" %}
 
{% block title %}L'atelier du barbier - Accueil{% endblock %}
 
{% block body %}
<div class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h1 class="hero-title">hair salon website templates free download</h1>
                <p class="hero-text"><strong>Your Types. Your Style. Your Color.</strong> </p>
                <a href="#" class="btn btn-default">Your slider buttons</a> </div>
        </div>
    </div>
</div>
<div class="space-medium">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="mb60 text-center section-title">
                    <h1>Nos services</h1>
                    <h5 class="small-title "></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-block">
                    <div class="service-icon mb20">
                        <img src="images/service-icon-1.png" alt=""> </div>
                    <div class="service-content">
                        <h2><a href="# " class="title ">FORFAITS CHEVEUX/BARBE</a></h2>
                        <p>Coupe Homme classique + Taille de barbe (le classique)</p>
                        <div class="price ">32€ à 36€ - 1H</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-block">
                    <div class="service-icon mb20">
                        <img src="images/service-icon-2.png" alt=""> </div>
                    <div class="service-content">
                        <h2><a href="#" class="title ">LES COUPES CHEVEUX</a></h2>
                        <p>Coupe homme classique coiffage</p>
                        <div class="price">17€ - 30min</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-block">
                    <div class="service-icon mb20">
                        <img src="images/service-icon-3.png" alt=""> </div>
                    <div class="service-content">
                        <h2><a href="#" class="title ">LA BARBE</a></h2>
                        <p>Taille de barbe (le classique)</p>
                        <p>Raccourcie et contour des joues dessiné au coupe-chou + hydratant + soin barbe</p>
                        <div class="price ">17€ - 30min</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center"> <a href="#" class="btn btn-default"> Afficher tous les services </a> </div>
        </div>
    </div>
</div>
{% endblock %}

