<div class="footer">
	<div class="container">
		<div class="footer-block">
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
					<div class="footer-widget">
						<h2 class="widget-title">Adresse du salon</h2>
						<ul class="listnone contact">
							<li>
								<a href="https://www.google.com/maps/place/L'atelier+Du+Barbier/@48.5575413,-0.4187339,17z/data=!3m1!4b1!4m5!3m4!1s0x48099336c0726073:0xa8384443d7af2269!8m2!3d48.5575541!4d-0.4137778?hl=fr" target="_blank">
									<i class="fa fa-map-marker"></i>
									8 Av. du Dr Poulain,</br>
									61140 Bagnoles de l'Orne Normandie
									</a>
							</li>
							<li>
								<i class="fa fa-phone"></i>
								+33 02 33 38 17 50
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
					<div class="footer-widget">
						<h2 class="widget-title">Réseaux sociaux</h2>
						<ul class="listnone contact">
							<li>
								<a href="https://www.facebook.com/jb.atelierdubarbier" target="_blank">
									<i class="fa fa-facebook"></i>
									Facebook
								</a>
							</li>
							<li>
								<a href="https://www.planity.com/jb-latelier-du-barbier-61140-bagnoles-de-lorne-normandie" target="_blank">
									<i class="fa-sharp fa-solid fa-magnifying-glass"></i>
									Planity
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
					<div class="footer-widget">
						<h2 class="widget-title">Les catégories</h2>
						<ul class="listnone contact">
							<li>
								<a href="/">
									<i class="fa-sharp fa-solid fa-house"></i>
									Accueil
								</a>
							</li>
							<li>
								<a href="/about">
									<i class="fa-solid fa-address-card"></i>
									L'atelier du barbier
								</a>
							</li>
							<li>
								<a href="/prestations">
									<i class="fa-solid fa-scissors"></i>
									Nos prestations
								</a>
							</li>	
						</ul>
					</div>
				</div>
			</div>
	<div class="tiny-footer">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="copyright-content">
					<p>© Men Salon 2020 | all rights reserved</p>
				</div>
			</div>
		</div>
	</div>
</div></div></div>
