<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<img src="images/logo.jpg" width="100px">
			</div>
			<div class="col-lg-8">
				<div class="navigation">
					<div id="navigation">
						<ul>
							<li class="active">
								<a href="/" title="Home">Accueil</a>
							</li>
							<li class="active">
								<a href="/prestations" title="Service List">Nos prestations</a>
							</li>
							<li class="active">
								<a href="/about" title="About">L'atelier du barbier</a>
							</li>
							<a href="/prestations" class="btn btn-default mb10">PRENDRE RDV</a>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

